<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Nullam eu erat eget neque dapibus molestie vitae nec tellus.</p>
        <p>Curabitur ultricies arcu scelerisque ante aliquam, vitae tincidunt magna elementum.</p>
        
    </div>
    
    <%- include('./partials/footer.ejs') %>
    
</body>
</html>